.body {
  background-color: #fdfdff !important;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: rgb(250, 250, 250);
}
.navbar-nav > li {
  margin-right: 13px; /* Adjust the value as needed */
}
.navbar {
  margin-left: 5%;
  margin-right: 5%;
}
.navbar-brand {
  font-size: large !important;
  font-weight: 700;
  text-transform: uppercase;
}
.wrap {
  background-image: url("assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap .container {
  padding-top: 0% !important;
  margin-top: 0% !important;
  margin-left: 10%;
  height: 625px;
}
.search {
  width: 18em !important;
}
.intro {
  padding-top: 12%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.introP {
  text-transform: uppercase;
}
.btn {
  background-color: #22e2b4 !important;
  color: #fff !important;
  border: none !important;
  font-size: 10px;
}

.display-3 {
  font-weight: 400 !important;
}
.boxes {
  display: flex;
}
.boxes > .box {
  margin-right: 10px;
}
.boxes > .box:last-child {
  margin-right: 0px;
}
.box {
  border: 2px solid rgb(239, 238, 238);
  border-radius: 8px;
  padding-bottom: 0.5em;
  text-align: center;
}
.box:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  display: inline;
}
.box > .bottom > .info {
  text-align: left !important;
  color: rgb(95, 94, 94) !important;
  padding-left: 2rem;
  font-size: 1px !important;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
s {
  font-size: 14px;
  color: #959595;
}
.button > .btn {
  opacity: 0;
}
.button > .cart-button {
  opacity: 0;
}
.box:hover .button > .cart-button {
  opacity: 1;
}
.box:hover .button > .btn {
  opacity: 1;
}
.box:hover .product-name {
  text-decoration: underline;
  cursor: pointer;
}

.box:hover img {
  transform: scale(1.1);
}
.title {
  text-transform: uppercase;
}
.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-btn {
  border-radius: 0 !important;
}
.payment {
  text-align: right;
}
/* Phone size */
@media (max-width: 768px) {
  .boxes {
    display: block;
  }
  .boxes > .box {
    margin-bottom: 10px;
  }
  .boxes > .box:last-child {
    margin-bottom: 0px;
  }
  .services .serviceBox {
    border-right: 0;
  }
  .wrap {
    background-image: url("assets/banner.jpg");
    background-size: 38em;
    background-repeat: no-repeat;
  }
  .wrap .container {
    margin-left: 2%;
    height: 455px;
  }
  .box:hover {
    box-shadow: 0;
    display: inline;
  }
  .box:hover img {
    transform: scale(1);
  }
  .Aboxes {
    display: none;
  }
  .payment {
    text-align: center;
  }
}
/* ============ */

/* CSS for medium-sized screens (tablet and desktop) */
@media only screen and (min-width: 568px) {
  .contact-form {
    margin-left: 15%;
    margin-right: 15%;
  }
  .wrap {
    background-image: url("assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.line-deco {
  width: 9%;
  border: 3px solid #038466;
  color: #08886a;
}
.offers .info {
  text-align: left !important;
  padding-top: 3em;
  padding-left: 2em;
}
.offers .info h6 {
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.descrip {
  font-size: 14px;
}
.services {
  margin-top: 3%;
}
.services .serviceBox {
  text-align: center;
  padding: 2px;
  border-right: 1px solid #cacaca;
}
.services .serviceBox:last-child {
  border-right: none;
}
.serviceBox img {
  width: 25%;
}
.Aboxes {
  margin-top: 5%;
}
.Aboxes .Abox {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.Aboxes .row .one {
  background-image: url("./assets/products/items2.webp") !important;
  background-size: cover;
}
.Abox .info {
  padding-top: 70%;
  margin-bottom: 4%;
  color: #fff;
  position: relative;
  z-index: 2;
}
.Aboxes .row .two {
  background-image: url("./assets/products/items1.webp") !important;
  height: 50% !important;
  background-size: cover;
}
.Aboxes .row .three {
  background-image: url("./assets/products/items3.webp") !important;
  height: 50% !important;
  background-size: cover;
}
.overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  ); /* Adjust the opacity here */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%; /* Adjust the height of the darker bottom background */
  z-index: 1; /* Ensure the overlay is on top of other content */
}
.info .link {
  color: rgb(240, 210, 171);
  transform: translateX(-50%);
  display: none;
  text-decoration: underline;
}

.Abox:hover .link {
  display: contents; /* Display the link when .Abox is hovered */
}
.footer {
  margin-top: 7%;
  padding: 3%;
  background-color: rgb(239, 239, 255);
}

.subscribe {
  background-color: #22e2b4 !important;
  color: #fff !important;
  border-radius: 0% !important;
  cursor: pointer;
}
.icons div img {
  width: 1em;
  cursor: pointer;
}
.icons div img:hover {
  transform: scale(1.3);
}
.links {
  display: flex;
  text-align: center !important;
  margin-right: 30%;
}
.links ul {
  padding: 1em;
}
.carouse {
  height: 13em;
  background-color: #dcdcdc;
  color: #1d1c1c;
}
.carouse h3 {
  padding-top: 6%;
  padding-left: 45%;
}
p {
  font-size: 14px !important;
}

.shop-container {
  border: #ede8e8 solid 1px;

  padding: 3%;
}

.nav .nav-item .nav-link {
  color: #696868;
  font-weight: 700;
}
.search-input {
  width: 36em;
  border: none;
}
.search-button {
  border: none !important;
  background-color: #fff !;
}
.search {
  border: 2px solid #22e2b4;
  border-radius: 4px;
  margin-right: 7%;
  width: 38em !important;
}
.search-input:focus {
  border: none !important;
  outline: none !important;
}
/* Phone size */
@media (max-width: 768px) {
  .search-input {
    width: 13em !important;
    border: none;
  }
  .search-button {
    border: none !important;
    background-color: #fff !;
  }
  .search {
    border: 2px solid #22e2b4;
    border-radius: 4px;
    width: 15em !important;
  }
}
.contact {
  text-align: center;
}
.contact > span {
  font-weight: 700;
}
.contact-icon svg {
  padding: 4%;
  border-radius: 50%;
  background-color: #22e2b4;
}
.contact-form input,
.contact-form textarea {
  border: 1px solid #888686;
}
.send-message {
  background-color: #22e2b4;
  color: #000;
  font-weight: 600;
  font-size: large;
  border: #22e2b4;
  width: 100%;
  padding: 1%;
  border-radius: 2px;
}
.cart-button {
  cursor: pointer;
}
.cart-container {
  border-radius: 30px !important;
  width: 70% !important;
}
.cart-items-details {
  padding-top: 2%;
  padding-left: 3% !important;
  background-color: whitesmoke;
}
.items-count {
  padding-top: 3% !important;
}
.cart-summary {
  padding-top: 2% !important;
  background-color: #eae8e8;
}
.cart-img {
  width: 60%;
  margin-bottom: 20% !important;
}
.name-price {
  padding-top: 4%;
}
.item-quantity,
.remove-item {
  padding-top: 5%;
}
.back-shop {
  margin-bottom: 10% !important;
}
.checkout {
  margin-bottom: 2%;
}
@media (max-width: 768px) {
  .cart-items-details {
    border-right: none;
  }
}
.remove-item-button {
  background-color: #c80000 !important;
  color: #fff;
}
.single-product-container {
  margin-top: 1%;
}
.image-container {
  text-align: center;
}
.image-container img {
  width: 69%;
}
.product-summary {
  margin-top: 12% !important;
}
.add-cart {
  background-color: #22e2b4;
  color: #fff;
  font-weight: 500;
  border: #22e2b4 solid 2px;
  padding-left: 1.8em;
  padding-right: 1.8em;
}
.back-button {
  background-color: #696868;
  color: #fff;
  border: #696868 solid 2px;
  font-weight: 500;
  padding-left: 1.8em;
  padding-right: 1.8em;
}
.billing-orders,
.order-summary {
  border: #959595 solid 1px;
  border-top: solid 2px #22e2b4 !important;
  padding: 1%;
  font-size: 14px;
}
.select-country {
  width: 100%;
  height: 3em;
  border-radius: 0%;
  border: #959595 solid 1px;
  padding: 2%;
}
.select-country:focus {
  border: #959595 solid 1px;
}
.billing-input,
.col-input {
  width: 100% !important;
  height: 3em;
  border-radius: 0%;
  border: #959595 1px solid;
  padding: 2%;
}
.billing Row Col input {
  width: 88% !important;
  height: 3em;
  border-radius: 0%;
  border: #959595 1px solid;
}
.card-details {
  padding: 1%;
}
.select-payment {
  text-align: left;
  font-size: 15px;
}
.payment {
  background-color: #ebe9ec;
  padding: 3%;
  text-align: left;
}
.pay {
  padding: 3%;
  background-color: #dedcdd;
  font-size: 15px;
}
.card-input {
  width: 100%;
  height: 1.5em;
  border: none;
  border-radius: 1px;
  font-size: 15px;
}
.place-order {
  width: 9em;
  background-color: #333232;
  color: #fff;
  font-size: 16px;
  height: 2.5em;
  border: none;
  margin-left: 70%;
}
